<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">FIT3179 Assignment 2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Individual Crimes">Individual Crimes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Maps">Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Trends">Trends</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Corr">Correlations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-dark text-white">
    <div class="container text-center">
      <h1>Analysing crime in Washington DC</h1>
      <p class="lead">An exploration into crime and its contributing factors</p>
    </div>
  </header>

    <section id="Individual Crimes" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <h2>Crimes in Washington</h2>
          <p> &nbsp;</p>
          <p class="lead">Washington DC being the 16th most dangerous city in America has many crimes.</p>
                    <p> &nbsp;</p>
          <p class="lead">The crimes being centered around the inner city is due to the amount of foot traffic within the area during the days.</p>

          <p> &nbsp;</p>

          <p class = "lead"> Press the button to see a further breakdown.</p>

            <div class="row  justify-content-center">

          <button  type="button" class="btn btn-secondary" data-target = "#pieModal" data-toggle="modal">Crime Breakdown</button>

  </div>

        </div>
<div class="col-lg-6 mx-auto">
          <div id="vis">
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="Maps" >
    <div class="container">
      <div class = "row">
        <div class="col-lg-12 mx-auto">
          <h2>Chloropleth Map to show trends across different zones of Washington DC</h2>
          <p> &nbsp;</p>
          <p> &nbsp;</p>
      </div>

      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div id="secondVis">
          </div>
        </div>
        <div class="col-lg-6 mx-auto">
          <div id="poverty_chloropleth" ></div>
          <div id = "unemployment_chloropleth"  style = "display:none"></div>
          <div id = "income_chloropleth"  style = "display:none"></div>
          <div id = "population_chloropleth" style = "display:none"></div>


          <button  type = "button" class = "btn btn-secondary" id = "PovertyButton" style = "display:none"> Poverty Map</button>

          <button  type = "button" class="btn btn-secondary" id = "PopulationButton">Population Map</button>
            <button type = "button" class = "btn btn-secondary" id = "UnemploymentButton">Unemployment Map</button>
            <button  type = "button" class = "btn btn-secondary" id = "IncomeButton"> Income Map</button>



          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="Trends" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <h2>Seasonal Crime Trends</h2>

          <p> &nbsp;</p>
          <p class="lead">Crimes tend to increase seasonally which has been proven to be from the difference in temperature. Colder days discouraging crime whilst warmer days often giving more opportunities for crime to arise.</p>

          <p> &nbsp;</p>
        </div>
        <div class = "col-lg-5 mx-auto">
          <div id = "linegraph"></div>
        </div>
      </div>
    </div>
  </section>



   <section id="Corr">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2>Correlation of Crimes and Poverty</h2>
          <p class="lead">As determined in the chloropleth maps, these scatter plots reinforce that poverty stricken areas are often more dangerous due to higher crime rates within the area.</p>


        </div>
        <div class="col-lg-10 mx-auto ">
          <div id = "scatter1"><button  type="button" class="btn btn-secondary" data-target = "#pieModal" data-toggle="modal">Crime Breakdown</button>

          </div>
        </div>

        </div>
      <div class = "row justify-content-center">
                  <button  type="button" class="btn btn-secondary" data-target = "#corrModal" data-toggle="modal">R Correlation Values</button>
      </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        By Rohan Tan 27804836
      </p>
    </div>
    <!-- /.container -->
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
  <!-- Import vega-embed -->
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>


  <script type="text/javascript">
  var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/testing.json";
    vegaEmbed('#vis', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Chloropleth of Crimes Committed (Assault).json";
    vegaEmbed('#secondVis', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Multi%20Scatterplots.JSON";
    vegaEmbed('#scatter1', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Chloropleth of Poverty.json";
    vegaEmbed('#poverty_chloropleth', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Chloropleth of Income.json";
    vegaEmbed('#income_chloropleth', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Chloropleth of Population.json";
    vegaEmbed('#population_chloropleth', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Chloropleth of Unemployment.json";
    vegaEmbed('#unemployment_chloropleth', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
     var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Correlation Median_Income.json";
    vegaEmbed('#corr1', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Correlation Poverty.JSON";
    vegaEmbed('#corr2', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/Correlation Unemployment.json";
    vegaEmbed('#corr3', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/radial chart.json";
    vegaEmbed('#piechart', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/shift barchart.json";
    vegaEmbed('#barchart', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    var spec = "https://raw.githubusercontent.com/Ailuropanda/FIT3179/main/Assignment/JSON/MultiTimeChart.json";
    vegaEmbed('#linegraph', spec).then(function (result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
    </script>


</body>
<div class="modal fade" id="pieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crime Breakdown</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="piechart">
          </div>
        <div id="barchart">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="corrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">R Correlation Values</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
        <div class="col-lg-4 mx-auto">
   <div id="corr1">
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
   <div id="corr2">
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
   <div id="corr3">
          </div>
        </div>
          </div>
      </div>
          </div>
      </div>
    </div>



</html>
